@model Tribute.Models.SingleTribute

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.TributeTitle;
    ViewBag.ShowBackBar = true;
}


    <h1 class="tribute-title">Tribute to @Model.TributeTitle</h1>
<div class="tribute-row">
    <div class="col-md-6">
        <img src="~/Images/@Model.ImageLink" alt="@Model.TributeTitle" class="img-responsive" />
    </div>
    <div class="col-md-6">
        <div class="well">

            <h4>@Html.Raw(Model.BioDescriptionHtml)</h4>
            @if (Model.BioDates.Length > 0)
            {
                <div>
                    <ul>
                        @foreach (var date in Model.BioDates)
                        {
                            <text>
                                <li><strong>@date.Year: </strong>@date.Event</li> </text>
                        }
                    </ul>
                </div>
            }
            <div>To learn more, visit the <a class="external-link" href="@Model.ExternalLink" target="_blank">Wikipedia Page</a>.</div>
        </div>
    </div>
    
</div>

